
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>first ejs</title>
        <link rel="stylesheet"  href="css/index.css">
    </head>
    <body>

       
       <form method="POST" action="/loginprocess">
           <input name="username" placeholder="username">
           <input name="password" placeholder="password">
           <input type='submit' name="submit">
           
       </form>

       
    </body>
    </html>