
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>first ejs</title>
        <link rel="stylesheet"  href="css/index.css">
    </head>
    <body>

        <a href="/myform">chat</a>
        <a href="/myform/?group =nodeclass">join node</a>
        <a href="/myform/?group =laravelclass">join laravel</a>
    </body>
    </html>