
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>first ejs</title>
        <link rel="stylesheet"  href="css/index.css">
    </head>
    <body>

       
       <form action="/uploadfile" method="POST" enctype="multipart/form-data" >
        <input type="text" name="name" />    
        <input type="file" name="img" />
            <input type="submit"/>
       </form>
       
    </body>
    </html>