
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>first ejs</title>
        <link rel="stylesheet"  href="css/index.css">
    </head>
    <body>

       
       <form method="POST" action="/posts">
           <input name="title">
           <textarea name="body"></textarea>
           <input type="submit">
       </form>

       
    </body>
    </html>